

<a href="#/" id="link-goback" class="icon-link" title="Go back">
    Go back
</a>

<h2>Configuration</h2>

<div class="row">

    <div ng-controller="AccountConfigController" class="well col-md-5">
        <h3>SMTP Authentication</h3>

        <div>
            <label>
                <input type="checkbox" ng-model="config.EnableSMTPAuth" />
                Enable SMTP Auth
            </label>
        </div>

        <h4>Accounts</h4>

        <table class="table table-condensed ">
            <thead>
                <tr><th>name</th><th>password</th><th></th></tr>
            </thead>
            <tr ng-repeat="account in config.Accounts">
                <td>{{account.Name}}</td>
                <td>{{account.Password}}</td>
                <td>
                    <a ng-click="edit($index)" class="btn btn-default edit">
                        Edit
                    </a>
                    <a ng-click="remove($index)" class="btn btn-default delete">
                        Delete
                    </a>
                </td>
            </tr>
        </table>
        <div>
            <a class="btn btn-default add" ng-click="add()">
                Add account
            </a>
        </div>

        <!-- Modal for add account -->
        <script type="text/ng-template" id="account-dialog">
            <div class="modal-header">
                <h3>Account</h3>
            </div>
            <form role="form" name="form1">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input ng-model="target.Name" type="text" class="form-control" required autofocus />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input ng-model="target.Password" type="text" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="!form1.$valid">OK</button>
                    <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
                </div>
            </form>
        </script>
        <!-- Modal for add account -->
    </div>

    <div ng-controller="SmtpEndPointConfigController" class="well col-md-5">

        <h3>SMTP End Points</h3>

        <table class="table table-condensed ">
            <thead>
                <tr><th>address</th><th>port</th><th></th></tr>
            </thead>
            <tr ng-repeat="endPoint in config.SmtpEndPoints">
                <td>{{endPoint.Address|ipaddress}}</td>
                <td>{{endPoint.Port}}</td>
                <td>
                    <a ng-click="edit($index)" class="btn btn-default edit">
                        Edit
                    </a>
                    <a ng-click="remove($index)" class="btn btn-default delete" ng-disabled="config.SmtpEndPoints.length <= 1">
                        Delete
                    </a>
                </td>
            </tr>
        </table>
        <div>
            <a class="btn btn-default add" ng-click="add()">
                Add end point
            </a>
        </div>

        <!-- Modal for add end point -->
        <script type="text/ng-template" id="endPoint-dialog">
            <div class="modal-header">
                <h3>SMTP End Point</h3>
            </div>
            <form role="form" name="form1">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Address</label>
                        <select ng-model="target.Address" class="form-control" required autofocus>
                            <option value="127.0.0.1">Local Loopback (IPv4)</option>
                            <option value="0.0.0.0">Any (IPv4)</option>
                            <option value="::1">Local Loopback (IPv6)</option>
                            <option value="::">Any (IPv6)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Port</label>
                        <input ng-model="target.Port" type="number" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" ng-click="ok()" ng-disabled="!form1.$valid">OK</button>
                    <button type="button" class="btn btn-default" ng-click="$close()">Cancel</button>
                </div>
            </form>
        </script>
        <!-- Modal for add end point -->
    </div>

    <div class="well col-md-5">
        <h3>User Interface</h3>
        <div>
            <label ng-class="{disabled:desktopNotificationPermission == 'denied' || desktopNotificationPermission == 'notsupported'}">
                <input type="checkbox"
                       ng-model="userSettings.enableDesktopNotification" ng-disabled="desktopNotificationPermission == 'denied' || desktopNotificationPermission == 'notsupported'" />
                Enable Desktop Notification
            </label>
            <div ng-show="desktopNotificationPermission == 'denied'" class="label label-warning">Desktop notification not allowed at this browser.</div>
            <div ng-show="desktopNotificationPermission == 'notsupported'" class="label label-warning">Desktop notification not supported at this browser.</div>
        </div>
    </div>
</div>
