<div class="command">
    <a ng-click="remove()" ng-class="{'icon-link':true, delete:true, enabled:hasSelected()}" title="Delete selected mails.">
        Delete selected mails.
    </a>
</div>

<div class="mails-list">
    <div ng-repeat="mail in mails" ng-class="{mail:true, selected:mail.selected}">
        <div class="selector">
            <input type="checkbox" ng-model="mail.selected" />
        </div>
        <div class="summary" ng-click="selectThis($index)">
            <!--<div>{{mail.Id}}</div>-->
            <div class="subject">{{mail.Subject}}</div>
            <div class="from address">
                from: {{mail.From}}
            </div>
            <div class="to address">
                to: {{mail.To|join:', '}}
            </div>
            <div class="cc address">
                cc: {{mail.CC|join:', '}}
            </div><!--<div>{{mail.Date}}</div>-->
        </div>
    </div>
</div>

<div class="mail-view" ng-show="current">

    <div class="mail-header">
        <div class="subject">{{current.Subject}}</div>
        <div class="from address">
            from: {{current.From}}
        </div>
        <div class="to address">
            to: {{current.To|join:', '}}
        </div>
        <div class="cc address">
            cc: {{current.CC|join:', '}}
        </div>
        <div class="timestamp">
            {{current.Date}}
        </div>
    </div>

    <div class="mail-attachemnts">
        <a ng-repeat="attachmentName in current.Attachments" ng-href="/api/mails/{{current.Id}}/attachments/{{$index}}" target="_blank" class="file">
            {{attachmentName}}
        </a>
    </div>

    <div class="mail-body">
        <div ng-bind-html="current.Body|htmlPreFormat"></div>
    </div>
</div>
