<h2>mail list</h2>

<div class="command">
    <a ng-click="remove()" ng-class="{delete:true, enabled:hasSelected()}">Delete selected mails.</a>
</div>

<div class="mails-list">
    <div ng-repeat="mail in mails" ng-class="{mail:true, selected:mail.selected}">
        <div class="selector">
            <input type="checkbox" ng-model="mail.selected" />
        </div>
        <div class="summary">
            <div>{{mail.Id}}</div>
            <div>{{mail.Subject}}</div>
            <div>{{mail.From.Address}}</div>
            <div>{{mail.To}}</div>
            <div>{{mail.Date}}</div>
        </div>
    </div>
</div>