* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: normal;
}

h1, h2, h3, h4, div, body, html, header, footer {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 160%;
}

h3 {
    margin-bottom: 0.5em;
    font-size: 130%;
}

h4 {
    margin-bottom: 0.2em;
}

/* Layouts */
header {
    padding: 0 1em 0 1em;
    height: 3em;
    background-color: black;
    color: white;
    vertical-align: middle;
    line-height: 3em;
}

    header h1 {
        float: left;
        line-height: 3em;
        background-image: url(../favicon.png);
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 38px;
    }

    header .actions {
        float: right;
    }

.icon-link {
    display: inline-block;
    overflow: hidden;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent !important;
    line-height: 32px;
}

#link-config {
    height: 3em;
    background-image: url(images/settings-cw.png);
    line-height: 3em;
}

#link-goback {
    float: left;
    margin-right: 2em;
    background-image: url(images/back-cb.png);
}

footer {
    position: fixed;
    bottom: 0;
    padding: 1em 0.5em 0 0.5em;
    width: 100%;
    height: 3em;
    border-top: 1px solid #ccc;
    color: #888;
}

    footer .acknowledgment {
        font-size: 75%;
    }

        footer .acknowledgment .banner {
            background-position: left center;
            background-repeat: no-repeat;
            padding-left: 20px;
            display: inline-block;
            min-height: 1.4em;
            line-height: 1.4em;
        }

        footer .acknowledgment .angularjs {
            background-image: url(images/angularjs-g-16.png);
        }

        footer .acknowledgment .mono {
            background-image: url(images/mono-g-16.png);
        }

        footer .acknowledgment .bootstrapcss {
            background-image: url(images/bootstrapcss-g-16.png);
        }

        footer .acknowledgment .aspnet {
            padding-left: 28px;
            background-image: url(images/aspnet-16.png);
        }


.command, .mails-list {
    left: 0;
    border-right: 4px solid #ccc;
}

.command {
    position: fixed;
    top: 3em;
    overflow: hidden;
    padding: 0 1em 0 1em;
    width: 40%;
    height: 3em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    line-height: 3em;
}

.mails-list {
    position: fixed;
    top: 6em;
    bottom: 3em;
    overflow-y: auto;
    width: 40%;
}

.mail-view {
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 3em;
    left: 40%;
    overflow: auto;
}

.content-view {
    position: fixed;
    top: 3em;
    right: 0;
    bottom: 3em;
    left: 0;
    overflow: auto;
    padding: 1em;
}


.command .delete {
    background-image: url(images/delete-cb.png);
    vertical-align: middle;
    opacity: 0.3;
}

    .command .delete.enabled {
        opacity: 1.0;
        cursor: pointer;
    }


.mails-list .mail {
    display: table;
    padding: 0.3em;
    width: 100%;
    border-bottom: solid 1px #ccc;
    white-space: nowrap;
}

    .mails-list .mail .selector {
        display: table-cell;
        min-width: 1.2em;
        width: 1.2em;
        vertical-align: top;
    }

    .mails-list .mail .summary {
        display: table-cell;
        cursor: pointer;
    }

        .mails-list .mail .summary .subject {
            margin-bottom: 4px;
            font-weight: bold;
        }

    .mails-list .mail .address {
        display: inline-block;
        color: #aaa;
        font-size: 70%;
        line-height: 0.5em;
    }

        .mails-list .mail .address.from {
            display: block;
        }

    .mails-list .mail.selected {
        background-color: #0071c6;
        color: white;
    }

        .mails-list .mail.selected .address {
            color: white;
            opacity: 0.7;
        }


.mails-list .ng-enter {
    opacity: 0;
    -moz-transition: opacity linear 0.5s;
    -o-transition: opacity linear 0.5s;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

    .mails-list .ng-enter.ng-enter-active {
        opacity: 1;
    }

.mails-list .ng-leave {
    opacity: 1;
    -moz-transition: opacity linear 0.5s;
    -o-transition: opacity linear 0.5s;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

    .mails-list .ng-leave.ng-leave-active {
        opacity: 0;
    }

/* Mail Detail View */
.mail-view .mail-header {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

    .mail-view .mail-header .subject {
        font-weight: bold;
    }

    .mail-view .mail-header .address,
    .mail-view .mail-header .timestamp {
        font-size: 90%;
    }

.mail-view .mail-attachemnts {
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

    .mail-view .mail-attachemnts .file {
        display: inline-block;
        margin: 2px 6px 2px 2px;
        padding-left: 20px;
        min-height: 24px;
        background-image: url(images/attachment.png);
        background-position: left center;
        background-repeat: no-repeat;
    }

.mail-view .mail-body {
    padding: 0.3em;
}

/* Configuration */

.table {
    margin-bottom: 0;
}

.btn.delete {
    padding-left: 18px;
    background-image: url(images/delete-b-16.png);
    background-position: 2px center;
    background-repeat: no-repeat;
}

.btn.edit {
    padding-left: 22px;
    background-image: url(images/edit-b-16.png);
    background-position: 4px center;
    background-repeat: no-repeat;
}

.btn.add {
    padding-left: 26px;
    background-image: url(images/add-cb-16.png);
    background-position: 6px center;
    background-repeat: no-repeat;
}

.well {
    margin: 1em;
}

.row {
    margin-left: 3em;
}


label.disabled {
    color:#888;
}